/* font-family: "Blinker", sans-serif; */
/* "Source Code Pro", monospace; */


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

.card {
    display: flex;
}